/* BlogList.css */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* BlogPost.css */
  .blog-post {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 100%;
  }
  
  .blog-post > h2{
    font-size: 25px;
    text-align: center;
  }
  
  .blog-post > p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 5px;
  }

  .head-img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  